{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="container px-1 py-2">
        <hr>
        <h1>Sign Up for an Account !</h1>
        <h4>Fill up below details</h4>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">First Name</label>
                            <input type="text" class="form-control" name="first_name"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Last Name</label>
                            <input type="text" class="form-control" name="last_name"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Username</label>
                            <input type="text" class="form-control" name="username"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">E Mail</label>
                            <input type="email" class="form-control" name="email"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Password</label>
                            <input type="password" class="form-control" name="password1"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Confirm password</label>
                            <input type="password" class="form-control" name="password2"
                                   placeholder="Type in here..">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="col-md-3">

                    {% for message in messages %}
                        <input type="text" class="form-control btn btn-outline-danger" name="message"
                               placeholder="*" value="{{ message }}" readonly>
                    {% endfor %}

                </div>
            </div>
        </form>
    </div>
{% endblock %}