{% extends 'base.html' %}

{% block title %}
R Ticket
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="navbar">
            <img src="../jcomp/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">STATUS</a></li>
                    <li><a href="">PAYMENT</a></li>
                </ul>
            </nav>
            <img src="../jcomp/menu.png" class="menu-icon">
        </div>
        <div class="row">
            <div class="col">
                <h1>Welcome to E-way </h1>
            <p> The Indian Railways will become the growth engine of the nation's 'Vikas Yatra'</p>
            <button type="button">Know Your Station</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>History</h5>
                    <p>Know the History about your live station</p>
                </div>
                <div class="card card2">
                   <h5>Exquisite</h5>
                    <p>Know about the famous spots in your live station</p>
                </div>
                <div class="card card3">
                    <h5>Savouries</h5>
                     <p>What is the most recommended food of your current station ?</p>
                </div>    
                <div class="card card4">
                    <h5>Versatile</h5>
                    <p>Every station has a story.Explore more</p>
                </div>
            </div>
        </div>

            
    </div>
    
</body>
{% endblock %}