<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITEMAP</title>
</head>
<body>
<h1>SITEMAP</h1>
<h2>Main - Unauthenticated Services</h2>
<a href="/">Home</a><br>
<a href="about">about</a><br>
<a href="sitemap">sitemap</a><br>
<a href="search">search</a><br>
<a href="train_between_stations">train_between_stations</a><br>
<a href="train_info">train_info</a><br>
<h2>Payment</h2>
<a href="payment/">Checkout</a><br>
<a href="payment/success">Success</a><br>
<h2>Order</h2>
<a href="order/">Checkout</a><br>
<h2>Account</h2>
<a href="account/login">Login</a><br>
<a href="account/register">Register</a><br>
<h2>Authenticated Services</h2>
<a href="user_home">User Home</a><br>
<a href="user_info">User Info</a><br>
</body>
</html>