{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container"
     style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url({% static 'img/indianrailways.jpg' %});">
    <div class="navbar">
        <img src="{% static 'img/icon.png' %}" class="logo" alt="logo">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col">
            <h1>Welcome to<br>R Ticket</h1>
            <p>A Railway Reservation and Management System</p>
            <a href="{% url 'home' %}">
                <button type="button">Proceed to Website</button>
            </a>
        </div>
        <div class="col">
            <div class="card card1" style="background-image: url({% static 'img/one.jpg' %})">
                <h5 style=" color:black;background-color:white">Search</h5>
                <p style=" color:black;background-color:white">Search Train Between Stations</p>
            </div>
            <div class="card card2" style="background-image: url({% static 'img/two.jpg' %})">
                <h5 style=" color:black;background-color:white">Search</h5>
                <p style=" color:black;background-color:white">Search Train by Number or Name</p>
            </div>
            <div class="card card3" style="background-image: url({% static 'img/three.jpg' %})">
                <h5 style=" color:black;background-color:white">Train List</h5>
                <p style=" color:black;background-color:white">View Complete list of trains</p>
            </div>
            <div class="card card4" style="background-image: url({% static 'img/four.jpg' %})">
                <h5 style=" color:black;background-color:white">Sign in</h5>
                <p style=" color:black;background-color:white">Books trains and do much more</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>