{% extends 'base.html' %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <div class="px-1 py-1">
        <hr>
        <h1>Confirm Your Order</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Travel Details
                    </div>
                    <div class="card-body">
                        Travel Details
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Seating Options
                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-checkable">
                            <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                                   id="listGroupCheckableRadios1" value="" checked>
                            <label class="list-group-item py-3" for="listGroupCheckableRadios1">
                                First radio
                                <span class="d-block small opacity-50">With support text underneath to add more detail</span>
                            </label>

                            <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                                   id="listGroupCheckableRadios2" value="">
                            <label class="list-group-item py-3" for="listGroupCheckableRadios2">
                                Second radio
                                <span class="d-block small opacity-50">Some other text goes here</span>
                            </label>

                            <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                                   id="listGroupCheckableRadios3" value="">
                            <label class="list-group-item py-3" for="listGroupCheckableRadios3">
                                Third radio
                                <span class="d-block small opacity-50">And we end with another snippet of text</span>
                            </label>

                            <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                                   id="listGroupCheckableRadios4" value="" disabled>
                            <label class="list-group-item py-3" for="listGroupCheckableRadios4">
                                Fourth disabled radio
                                <span class="d-block small opacity-50">This option is disabled</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Payment Details
                    </div>
                    <div class="card-body">
                        Payment Summary
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}